<%= form_for(@server) do |f| %>
  <div class="field">
    <% @services.each do |s| %>
      <% if @server.services.include? s %>
        <%= check_box_tag 'services[]', s.name, true %><%= s.name %>
      <% else %>
        <%= check_box_tag 'services[]', s.name %><%= s.name %>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>
