<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Make a connection</h3>
  <div class="field">
    Pick a service:
    <%= select(nil, "service_id", @services.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
    Pick a server:
    <%= select(nil, "conn_server_id", @servers.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
