<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @server.name %>
</p>

<hr />

<b>APPLICATIONS</b>
<ul>
<% @apps.each do |a| %>
  <li><%= a.name %></li>
<% end %>
</ul>
<%= link_to "edit apps for #{@server.name}", server_apps_path(@server) %>

<hr />

<b>SERVICES</b>
<ul>
<% @services.each do |s| %>
  <li><%= s.name %></li>
<% end %>
</ul>
<%= link_to "edit services for #{@server.name}", server_services_path(@server) %>
<p>&nbsp;</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
