<div class="content"
  <h1>Add a new server</h1>
  <p>&nbsp;</p>
  <%= form_for(@server) do |f| %>
    <% if @server.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

        <ul>
        <% @server.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <p>&nbsp;</p>
    <div class="field">
      <%= label_tag "Location" %>
      <%= select_tag "location_id", options_for_select(@locations.each.collect { |l| [l.name, l.id] } ) %><br />
    </div>
    <br />
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <p>&nbsp;</p>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
