<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @server.name %>
</p>

<hr />

<b>APPLICATIONS</b>
<%= link_to "edit apps for #{@server.name}", server_apps_path(@server) %>
<% @apps.each do |a| %>
  <li><%= a.name %></li>
<% end %>

<hr />

<b>SERVICES</b>
<%= link_to "edit services for #{@server.name}", server_services_path(@server) %>
<% @services.each do |s| %>
  <li><%= s.name %></li>
<% end %>
<hr />

<b>CONNECTIONS</b>
<%= link_to "edit connections for #{@server.name}", server_connections_path(@server) %>
<% @connections.each do |c| %>
  <li><%= c['service_name'] %> -> <%= c['conn_server_name'] %></li>
<% end %>
<p>&nbsp;</p>
<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
