<div class="content">
  <p id="notice"><%= notice %></p>
  <div class="entry">
    <%= link_to image_tag("edit.png", :size => "25x25"), edit_server_path(@server) %>
    <b>SERVER</b><br />
    <b>Name:</b>
    <%= @server.name %><br />
    <b>Location:</b>
    <%= @server.location.name %><br />
    <b>Description</b>
    <%= @server.description %>
  </div>

  <div class="entry">
    <%= link_to image_tag("edit.png", :size => "25x25"), server_apps_path(@server) %>
    <b>APPLICATIONS</b>
    <% @apps.each do |a| %>
      <li><%= a.name %></li>
    <% end %>
  </div>

  <div class="entry">
    <%= link_to image_tag("edit.png", :size => "25x25"), server_services_path(@server) %>
    <b>SERVICES</b>
    <% @services.each do |s| %>
      <li><%= s.name %></li>
    <% end %>
  </div>

  <div class="entry">
    <%= link_to image_tag("edit.png", :size => "25x25"), server_connections_path(@server) %>
    <b>CONNECTIONS</b>
    <p>&nbsp;</p>
    <table border="1" cellspacing="0">
      <tr>
        <th>Service</th>
        <th>Server</th>
        <th>Last touch</th>
      </tr>
    <% @connections.each do |c| %>
      <tr>
        <td><%= c['service_name'] %></td>
        <td><%= c['conn_server_name'] %></td>
        <td><%= time_ago_in_words(c['updated_at']) %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
