<h1>Listing serverserviceinfos</h1>

<table>
  <tr>
    <th>Server</th>
    <th>Service</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @serverserviceinfos.each do |serverserviceinfo| %>
  <tr>
    <td><%= serverserviceinfo.server_id %></td>
    <td><%= serverserviceinfo.service_id %></td>
    <td><%= link_to 'Show', serverserviceinfo %></td>
    <td><%= link_to 'Edit', edit_serverserviceinfo_path(serverserviceinfo) %></td>
    <td><%= link_to 'Destroy', serverserviceinfo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Serverserviceinfo', new_serverserviceinfo_path %>
