<h1>Apps for <%= @server.name %></h1>
<%= form_for(@server) do |f| %>
  <div class="field">
    <% @apps.each_with_index do |a, i| %>
      <% if @server.apps.include? a %>
        <%= check_box_tag 'apps[]', a.name, true %><%= a.name %>
      <% else %>
        <%= check_box_tag 'apps[]', a.name %><%= a.name %>
      <% end %>
      <% if ((i+1)%5).zero?  %>
        <br />
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>
