<div class="content">
  <h1>New app</h1>

  <%= form_for(@app) do |f| %>
    <% if @app.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

        <% @app.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <%= link_to 'Back', apps_path %>
</div>
