<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @serverappinfo.name %>
</p>

<p>
  <b>Server:</b>
  <%= @serverappinfo.server_id %>
</p>

<p>
  <b>App:</b>
  <%= @serverappinfo.app_id %>
</p>


<%= link_to 'Edit', edit_serverappinfo_path(@serverappinfo) %> |
<%= link_to 'Back', serverappinfos_path %>
