<!DOCTYPE html>
<html>
<head>
  <title>Overlord</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Servers', servers_path %> |
<%= link_to 'Services', services_path %> |
<%= link_to 'Applications', apps_path %>

<%= yield %>

</body>
</html>
